<div class="container-fluid rsd-container vh-100">
  <div class="row text-bg-primary" style="height: 64px;">
    <div class="col-2 m-auto">
      <h5>{{title}}</h5>
    </div>
    <div class="col m-auto ps-0">
      <small>
        <strong>Empresa:</strong> {{loggedUser.company}}<br />
        <strong>Área:</strong> {{loggedUser.businessUnit}} | <strong>Centro de Custos:</strong>
        {{loggedUser.costCenter}}
      </small>
    </div>
    <div class="col pe-3 m-auto text-end">
      <button class="btn btn-sm btn-primary position-relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stopwatch"
          viewBox="0 0 16 16">
          <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z" />
          <path
            d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z" />
        </svg>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          style="z-index: 1200">
          {{notifications!.warning > 60 ? '99+' : notifications!.warning ? notifications!.warning : '99+'}}
        </span>
      </button>
      <button class="btn btn-sm btn-primary position-relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
          viewBox="0 0 16 16">
          <path
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
        </svg>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          style="z-index: 1200">
          {{notifications!.warning > 60 ? '99+' : notifications!.warning ? notifications!.warning : '99+'}}
        </span>
      </button>
      <a class="btn btn-sm btn-primary me-2 position-relative"
        href="http://localhost:8080/realms/master/account?referrer_uri=http://localhost:4200#/personal-info"
        target="_blank">{{loggedUser.name}}
      </a>
      <button class="btn btn-sm btn-primary" (click)="logoff()">Sair</button>
    </div>
  </div>
  <div class="row" style="height: calc(100% - 64px);">
    <div class="h-100 col-2 overflow-auto overflow-x-hidden text-bg-primary"><app-menu-lateral
        [menus]="menus"></app-menu-lateral>
    </div>
    <div class="col-10 text-body h-100 col-2 overflow-auto overflow-x-hidden">
      <div class="container p-0">
        <div class="row pt-2 m-auto">
          <nav class="p-0" aria-label="breadcrumb">
            <ol class="breadcrumb m-auto">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
          </nav>
        </div>
        <div class="row p-1">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<ng-template #content let-modal>
  <!-- <div class="modal modal-fullscreen-sm-down fade-out" id="splashModal" style="background-color: white;">
    <div class="modal-dialog modal-dialog-centered border-0">
      <div class="modal-content border-0 text-center" style="background-color: rgba(0,0,0,0);">
        <h1 class="fade-in"><img height="300px" src="../assets/images/logo.png" /><br />RSD <span
            style="padding-left: 8px; border-left: dashed 1px black;">Finanças</span></h1>
      </div>
    </div>
  </div> -->
</ng-template>