<div class="container-fluid rsd-container vh-100">
  <div class="row rsd-container-header" style="height: 64px;">
    <div class="col-2 m-auto">
      <h5>{{title}}</h5>
    </div>
    <div class="col-10"></div>
  </div>
  <div class="row" style="height: calc(100% - 64px);">
    <div class="h-100 col-2 overflow-auto overflow-x-hidden rsd-menu"><app-menu-lateral
        [menus]="menus"></app-menu-lateral>
    </div>
    <div class="col-10 text-body">
      <div class="container p-0">
        <div class="row p-1">
          <small>Home > Teste de Teste > Editar</small>
        </div>
        <div class="row p-1">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
