<div class="col">
    <div class="row text-bg-primary" style="height: 48px;">
        <div class="col-2 m-auto"><span>Admitir Funcionário</span></div>
        <div class="col m-auto text-end">
            <button class="btn btn-sm btn-secondary" [routerLink]="['/cadastros/funcionarios']">Voltar</button>
        </div>
    </div>
    <div class="row p-2 bg-white">
        <div class="col-6">
            <label class="form-label">Nome</label>
            <div class="input-group mb-3">
                <input type="text" [class]="validateForm && !funcionario.nome ? 'form-control is-invalid' : 'form-control'" placeholder="Nome" [(ngModel)]="funcionario.nome" required>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">CPF</label>
            <div class="input-group mb-3">
                <input type="text" [class]="validateForm && !funcionario.cpf ? 'form-control is-invalid' : 'form-control'" placeholder="CPF" maxlength="11" [(ngModel)]="funcionario.cpf">
            </div>
        </div>
    </div>
    <div class="row p-2 bg-white">
        <div class="col-6">
            <label class="form-label">E-Mail</label>
            <div class="input-group mb-3">
                <input type="text" [class]="validateForm && !funcionario.eMail ? 'form-control is-invalid' : 'form-control'" placeholder="E-Mail" [(ngModel)]="funcionario.eMail">
            </div>
        </div>
    </div>
    <div class="row p-2 bg-white">
        <div class="col"></div>
        <div class="col-2 text-end">
            <div class="btn-group">
                <button class="btn btn-primary" (click)="salvar()">
                    <div *ngIf="isWaiting" class="spinner-grow spinner-grow-sm bg-text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>