<div class="col">
    <div class="row rsd-container-header bg-primary" style="height: 48px;">
        <div class="col-2 m-auto"><span>Funcionários</span></div>
        <div class="col m-auto text-end">
            <a class="btn btn-primary" [routerLink]="['admitir']">Admitir Novo Funcionário</a>
        </div>
    </div>
    <div class="row p-2 bg-white">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-2" scope="col">CPF</th>
                    <th scope="col">Nome</th>
                    <th class="col-3" scope="col">E-Mail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let funcionario of funcionarios">
                    <td scope="row">{{funcionario.cpf}}</td>
                    <td scope="row">{{funcionario.nome}}</td>
                    <td scope="row">{{funcionario.eMail}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>