$primary: rgb(63, 81, 97);
$success: #006551;
$warning: #fbc100;
$danger: rgb(210,71,38);
// $bg-primary: rgb(0, 32, 80);

$breadcrumb-divider: quote(">");

.breadcrumb {
    a {
        text-decoration: none;
    }
}

.pagination {
    cursor: pointer;
}

* {
    font-weight: light;
}
