$primary: rgb(55, 81, 126);
$bg-primary: rgb(55, 81, 126);

$breadcrumb-divider: quote(">");

.breadcrumb {
    a {
        text-decoration: none;
    }
}

.pagination {
    cursor: pointer;
}

* {
    font-weight: lighter;
}
