<div class="col">
    <div class="row text-bg-primary" style="height: 48px;">
        <div class="col m-auto"><span>Editar Funcionário: {{funcionario.nome}}</span></div>
        <div class="col m-auto text-end">
            <button class="btn btn-sm btn-secondary" [routerLink]="['/cadastros/funcionarios']">Voltar</button>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-6">
            <label class="form-label">Nome</label>
            <div class="input-group mb-3">
                <input type="text" [class]="validateForm && !funcionario.nome ? 'form-control is-invalid' : 'form-control'" placeholder="Nome" [(ngModel)]="funcionario.nome" required>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">CPF</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" readonly disabled="true" placeholder="CPF" maxlength="11" [(ngModel)]="funcionario.cpf">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label class="form-label">E-Mail</label>
            <div class="input-group mb-3">
                <input type="text" [class]="validateForm && !funcionario.eMail ? 'form-control is-invalid' : 'form-control'" placeholder="E-Mail" [(ngModel)]="funcionario.eMail">
            </div>
        </div>
    </div>
    <div class="row">
        <label class="h5">Documento</label>
        <div class="col-2">
            <label class="form-label">Tipo</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="funcionario.documentos[0].tipo">
            </div>
        </div>
        <div class="col-2">
            <label class="form-label">Número</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="funcionario.documentos[0].numero">
            </div>
        </div>
        <div class="col-2">
            <label class="form-label">Emissão</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="funcionario.documentos[0].dataEmissao">
            </div>
        </div>
        <div class="col-2">
            <label class="form-label">Validade</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="funcionario.documentos[0].dataValidade">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-2 text-end">
            <div class="btn-group">
                <button class="btn btn-primary" (click)="salvar()">
                    <div *ngIf="isWaiting" class="spinner-grow spinner-grow-sm bg-text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>